<% provide(:title, @room.rommid) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        ROOMID:&nbsp&nbsp&nbsp       <%= @room.rommid %>
      </h1>
      <h1>
        TIME:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       <%= @room.time %>
      </h1>
      <h2>
        BUILD:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp    <%= @room.build %>
      </h2>
      <h3>
        SIZE:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       <%= @room.size %>
      </h3>
      <h4>
        STATUS:&nbsp&nbsp&nbsp&nbsp&nbsp      <% if @room.status==false%>
                                                   avaliable
                                                  <% else %>
                                                   cannot book
                                                   <% end %>
      </h4>
      
      
      
      
      <% if !@room.status?%>
             <%= link_to "book", edit_room_path, class: "btn btn-lg btn-primary" %>
        <% else %>
          <% if @room.booker==current_user.id||current_user.admin? %>
             <%= link_to "cancel", edit_room_path, class: "btn btn-lg btn-primary" %>
          <% end %>
      <% end %>
      
      
      
    </section>
  </aside>
  <% if current_user.admin? %>
  <div class="col-md-8">
       <ul class="histories">
  <% @histories[0,10].each do |f| %>
    <li>
     <%= f.action %>ed by <%= f.username %> at <%= f.created_at %>
    </li>
  <% end %>
</ul>
</div>
<% end %>
</div>